.portfolio {
}

.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-pic {
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;  
color: #434455;
}
